@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Er is een onverwachte fout opgetreden.
    <a href="." class="reload">Opnieuw laden</a>
    <span class="dismiss">🗙</span>
</div>
